<% include header.html %>

<style>
	form {
		max-width: 100%;
		padding: 10px;
	}
	#log {
		border: 1px solid dodgerblue;
		border-radius: 4px;
		padding: 4px;
		background: #eef;
	}
</style>

<form action='javascript:send()'>
	<div id='log'>
	</div>
	<input class='form-control' autofocus
		placeholder='Type Message Here'
		id='message'>
	<button type='submit' class='btn btn-primary'
	>Send</button>
	<a href='javascript:clear()'
		class='btn btn-default'>Clear Log</a>
	<a href='javascript:shareLocation()'
		class='btn btn-default'>Share Location</a>
</form>

<script src='https://icode.run/jquery.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script>
	var socket = io.connect('/')
	socket.send({action:'email', value:'<%= user.email %>'})
	socket.on('message', m => {
		var t = $('#log').html()
		t += m + '<br>'
		$('#log').html(t)
	})
	function send() {
		var s = $('#message').val()
		$('#message').val('')
		socket.send({action:'chat', value:s})
	}
	function clear() {
		$('#log').html('')
	}
	function shareLocation() {
		navigator.geolocation.getCurrentPosition
			(positionSuccess, positionError,
			{enableHighAccuracy: true})
	}

	function positionSuccess(p) {
		var s = "Location: " +
		p.coords.latitude + ", " +
		p.coords.longitude
		var a = "<a href='https://google.com" +
		"/maps/@" + p.coords.latitude + ',' +
		p.coords.longitude + ",15z' target='_blank'>" 
		+ s + "</a>"
		console.log(a)
		socket.send({action:'chat', value:a})
	}
	function positionError(e) {
		console.log(e)
	}
</script>

<% include footer.html %>
