<% include header.html %>
<div class="container">
	<h1>Contact Us</h1>
	<form method="post">
		<input 
			name="customer"
			placeholder="Your Email or Phone Number"
			class="form-control" autofocus >
		<select name="type" class='form-control'>
			<option>Product</option>
			<option>Service</option>
		</select>
		<textarea name="question" class="form-control"
			placeholder="Your Question"></textarea>
		<button type="submit" 
			class="btn btn-primary">Send</button>
		<button type="reset"
			class="btn btn-default">Clear</button>
	</form>
</div>

<% include footer.html %>